body {
	width:320px;
	margin:0 auto 0 auto;
	background:#0b0b0b;
}

#container{
	position:relative;
	margin:0 auto;	
	width:320px;
}

img{
	width:320px;
	margin-left:auto;
	margin-right:auto;
}

#content{
	position:absolute;
	width:250px;
	color:blue;
	top:130px;
	font:bold 16px/24px Helvetica, Sans-Serif;
	color:white;
	letter-spacing:-1px;
	padding-left:8%;
}

.dropdown select{
	width:150px;
	background: transparent;
   	padding: 3px;
   	font-size: 18px;
   	border: 1px solid #ccc;
   	height: 25px;

}

.dropdown{
	width: 70px;
   	height: 25px;
   	overflow: hidden;
   	background: url("images/down_arrow.jpg") no-repeat right #ddd;
	border-radius:4px;
	margin-bottom:5px;
}

input{
	height:18px;
	border-radius:3px;
	width:250px;
	font:bold 16px Helvetica, Sans-Serif;
	letter-spacing:-1px;
	margin-bottom:7px;
}

input{
    outline:none;
    -webkit-transition: all 0.25s ease-in-out;
    -webkit-border-radius:7px;
    border:1px solid rgba(0,0,0, 0.2);
}

input:focus{
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1); 
    border:1px solid rgba(0,0,255, 0.8); 
}

#confirm{
	height:25px;
	width:260px;
	display: block;
	background:#ddd;
	-webkit-box-shadow: 2px 2px 2px 2px black;
	border-radius:5px;
	cursor:pointer;
	color:black;

}

.smalltxt{
	font-size:10px;
	line-height:15px;
	padding-bottom:2%;
	letter-spacing:0px;
}

.header{
	font-size:20px;
	padding-top:5%;
	padding-bottom:2%;
}

.spread{
	margin-right:24px;
}

input.donation{
	width:15px;
	background:orange;
}

input.donation:select{
	background:orange;
}

label.error {color: red;}
